#quote-box{
  background: #ffffff;
  border: 1px solid lightgray;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
  left: 50%;
  margin: 20px auto;
  padding: 5px 20px 20px 20px;
  position: absolute;
  overflow: hidden;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 40%;
}

#quote-box p {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  word-spacing: 3px;
}

#quote-box #author {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  font-family: 'Satisfy', cursive;
  font-size: 18px;
}

#new-quote, #tweet-quote {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

#btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

#quote-box button {
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
/*   padding: 10px; */
  opacity: 1; 
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  word-spacing: 3px;
}

#quote-box button:hover{
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  #quote-box{
    width: 75%;
  }

  #quote-box p {
    font-size: 26px;
  }

  #quote-box #author {
    font-size: 18px;
  }

  #quote-box button {
    font-size: 16px;
  }

}

@media screen and (max-width: 420px) {
  #quote-box{
    width: 85%;
  }
  
  #quote-box p {
    font-size: 18px;
  }

  #quote-box #author {
    font-size: 14px;
  }

  #quote-box button {
    font-size: 12px;
  }
  
}
